RIOT_API_KEY=your_key_here
VERSION=0.10.0
PLAYERS_FETCH_DEPTH=30
MASTERY_TASK_LIMIT=400
FULL_VERIFICATION_POST=True
REGION=na1
QUEUE=RANKED_SOLO_5x5
TIERS=DIAMOND,EMERALD,PLATINUM,GOLD,SILVER,BRONZE,IRON
DIVISIONS=I,II,III,IV